 @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
}


/* TOOLBAR */
.toolbar{
    width:100%;
    height:53px;
    border-bottom: 1px solid #ccc;
    padding:10px 0;    
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.toolbar > div {
    display: flex;
}
.toggle_button{
    border:1.5px solid #767980;
    cursor: pointer;
    width: 25px;
    height:25px;
    margin:5px 10px;
    display: block;
}
.toggle_button > div{
    background-color:#767980;
    width:12px;
    height:1px;
    margin:5px;
}
div > .toolbar_profile_container{
    display: flex;
}
.logo{    
    font-family: 'Robot Mono', cursive;
    font-size:15px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
}
.logo > a > span{
    font-size: 20px;
    font-weight: bold;
    margin-left: -5px;
    color:#444;
}
.search{
    background-color: #ccc;
    padding:0 10px;
    border-radius: 5px 5px;
    width:300px;
    margin:0 10px;
}
.form-control {    
    border-radius: 0 0;
    border:none;
    background-color: #ccc;
    font-size: 13px;
}

.form-control:focus {    
    box-shadow: none;
    background-color: #ccc;
  }
  .cart_btn, .login_btn{
      margin:auto 20px;       
  }
  .cart_btn{
      border-right:2px solid #9fa2ad;
      padding:5px 30px 5px 5px;
  }
  .login_btn > a, .cart_btn > a, .logo > a{
      color:inherit;
      padding-left:5px;
  }
  
  /* SIDEBAR */
    .sidebar{
        width:250px;
        height:100%;
        position: fixed;
        padding:0 10px;
        left:0;
        top:0;
        background-color:rgba(0,0,0,0.6);
        transition: all 0.5s ease-in-out;
        z-index: 100;
        display: block;
        color:#ccc;
    }
    .hide_sidebar{
        transform: translateX(-100%);
    }
    .show_sidebar{
        transform: translateX(0);
    }
    .hide_sidebar_button{
        border:1.5px solid #ccc;
        border-radius: 3px 3px;
        width:25px;
        padding:1px 7px;
        margin:20px 20px;
        float: right;
        font-weight: bold;
        
    }
    .sidebar_profile_container{
        display:flex;
        clear: right;
    }
    .backdrop{
        height: 100%;
        width: 100%;
        position: fixed;
        left:0;
        top:0;
        background-color: rgba(1,1,1,0.6);
        z-index: 50;
        display: none;
    }

    /* FOOTER */

    footer{
        position:absolute;
        bottom:0;
        width:100%;
        background:#aaa;
        text-align: center;
    }
    footer > div {
     display: flex; 
     padding-top:10px;
    }
    footer > div> div{
        width:33.3%;
    }
    footer > div > div > h6{
        font-weight: bold;
    }
    .footer_items{
        border-top:1px solid #ccc;
        border-bottom: 1px solid #ccc; 
    }
    footer .business_info {
        display: flex;
        flex-wrap: wrap;
    }
    
    footer .business_info .tag {
        flex-grow: 1;
        position: relative;
        width: 50%;
        margin-bottom: 30px;
        text-align: left;
    }
    footer .business_info .icon {
        position: absolute;
        font-size: 20px;
        top:10px;
        left:10px;
    }
    footer .business_info .info {
        padding-left: 40px;
    }



    /* LOGIN */
    .login_container{
        width:75%;
        border:1px solid #ccc;
        border-radius: 5px 5px;
        margin:50px auto;
    }
    .page_title{
        background-color: #ccc;
        padding: 15px;
        font-weight: bold;
    }
    .login_types{
        display:flex;        
    }
    .form_wrapper{
        padding:20px;
        width:50%;
        margin:20px 50px;
        
    }
    .pwd_href{
        float: right;
        color:#666;
        font-weight: bold;
        margin-top: -10px;
    }
    .pwd_href:hover{
        color:#666;
    }
    .text_center{
        clear: both;
        text-align: center;
    }
    .button{
        width:175px;
        margin: 20px auto;
    }
    .login_fb_goo_btn{
        width: 50%;
        border-left:1px solid #ccc;
        display: flex;
        flex-direction: column;
        margin:10px;
        align-items: center;  
        padding:10px;      
    }

    .right_error_alert{
        color:red;
        text-align: right;
        font-size: 10px;
    }
    .center_error_alert{
        color:red;
        text-align: center;
    }
    .center_success_alert{
        color:green;
        text-align: center;
    }

  @media (min-width:480px)  { 
    .toggle_button{
        display: none;
    }
    .sidebar{
        display: none;
    }
    
  }
  @media (max-width:480px){
    .logo{
        margin-left: 0;
    }
    .search{
        width:150px;
        margin-left:40px;
    }
    div > .toolbar_profile_container{
        display: none;
    }
    .backdrop{
        display: block;
    }    
    footer > div {
        display: block;
    }
    footer > div > div {
        width: 100%;
    }
    .login_types{
        display:block;        
    }
    .form_wrapper{
        width:100%;
        padding:10px;
        margin:0;
    }
    .login_fb_goo_btn{
        width:100%;
        border:none;
    }
  }


