@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.toolbar{
    width:100%;
    height:53px;
    border-bottom: 1px solid #ccc;
    padding:10px 0;    
    display: flex;
    justify-content: space-between;
}
.toolbar > div {
    display: flex;
}
.toggle_button{
    border:1.5px solid #767980;
    cursor: pointer;
    width: 25px;
    height:25px;
    margin:5px 10px;
    display: block;
}
.toggle_button > div{
    background-color:#767980;
    width:12px;
    height:1px;
    margin:5px;
}
div > .toolbar_profile_container{
    display: flex;
}
.logo{    
    font-family: 'Cute Font', cursive;
    font-size:18px;
    margin-top: -5px;
    margin-left: 10px;
}
.logo > span{
    font-size: 25px;
    font-weight: bold;
    margin-left: -10px;
}
.search{
    background-color: #ccc;
    padding:0 10px;
    border-radius: 5px 5px;
    width:300px;
    margin:0 10px;
}
.form-control {    
    border-radius: 0 0;
    border:none;
    background-color: #ccc;
    font-size: 13px;
}

.form-control:focus {    
    box-shadow: none;
    background-color: #ccc;
  }
  .cart, .login{
      margin:auto 20px;  
  }
  .cart{
      border-right:2px solid #9fa2ad;
      padding:5px 30px 5px 5px;
  }
  
  /* Sidebar */
    .sidebar{
        width:250px;
        height:100%;
        position: fixed;
        padding:0 10px;
        left:0;
        top:0;
        background-color:#aaa;
        transition: all 0.5s ease-in-out;
        z-index: 20;
        display: block;
    }
    .hide_sidebar{
        transform: translateX(-100%);
    }
    .show_sidebar{
        transform: translateX(0);
    }
    .hide_sidebar_button{
        border:1.5px solid #000;
        border-radius: 3px 3px;
        width:25px;
        padding:1px 7px;
        margin:20px 20px;
        float: right;
        font-weight: bold;
        
    }
    .sidebar_profile_container{
        display:flex;
        clear: right;
    }
  
  @media (min-width:480px)  { 
    .toggle_button{
        display: none;
    }
    .sidebar{
        display: none;
    }
  }
  @media (max-width:480px){
    .logo{
        margin-left: 0;
    }
    .search{
        width:150px;
        margin-left:40px;
    }
    div > .toolbar_profile_container{
        display: none;
    }
  }